<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App</key>
	<dict>
		<key>stubs</key>
		<dict>
			<key>main-dev</key>
			<true/>
			<key>main-loc</key>
			<false/>
			<key>main-int</key>
			<false/>
			<key>main-qa</key>
			<false/>
			<key>main-prod</key>
			<false/>
		</dict>
	</dict>
	<key>Api</key>
	<dict>
		<key>scheme</key>
		<dict>
			<key>main-dev</key>
			<string>https://</string>
			<key>main-loc</key>
			<string>http://</string>
			<key>main-int</key>
			<string>https://</string>
			<key>main-qa</key>
			<string>https://</string>
			<key>main-prod</key>
			<string>https://</string>
		</dict>
		<key>host</key>
		<dict>
			<key>main-dev</key>
			<string>api.mercadopago.com</string>
			<key>main-loc</key>
			<string>localhost:8080</string>
			<key>main-int</key>
			<string>api.mercadopago.com</string>
			<key>main-qa</key>
			<string>api.mercadopago.com</string>
			<key>main-prod</key>
			<string>api.mercadopago.com</string>
		</dict>
		<key>basePath</key>
		<dict>
			<key>main-dev</key>
			<string>/v1</string>
			<key>main-loc</key>
			<string></string>
			<key>main-int</key>
			<string>/v1</string>
			<key>main-qa</key>
			<string>/v1</string>
			<key>main-prod</key>
			<string>/v1</string>
		</dict>
		<key>branch</key>
		<dict>
			<key>main-dev</key>
			<string>/payment_methods</string>
			<key>main-loc</key>
			<string></string>
			<key>main-int</key>
			<string>/payment_methods</string>
			<key>main-qa</key>
			<string>/payment_methods</string>
			<key>main-prod</key>
			<string>/payment_methods</string>
		</dict>
		<key>API_MOVIE_SUMMARY</key>
		<string>/installments?public_key=444a9ef5-8a6b-429f-abdf-587639155d88</string>
	</dict>
</dict>
</plist>
