<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Api</key>
	<dict>
		<key>scheme</key>
		<dict>
			<key>main-dev</key>
			<string>https://</string>
			<key>main-loc</key>
			<string>http://</string>
			<key>main-int</key>
			<string>https://</string>
			<key>main-qa</key>
			<string>https://</string>
			<key>main-prod</key>
			<string>https://</string>
		</dict>
		<key>host</key>
		<dict>
			<key>main-dev</key>
			<string>api.themoviedb.org</string>
			<key>main-loc</key>
			<string>localhost:8080</string>
			<key>main-int</key>
			<string>api.themoviedb.org</string>
			<key>main-qa</key>
			<string>api.themoviedb.org</string>
			<key>main-prod</key>
			<string>api.themoviedb.org</string>
		</dict>
		<key>basePath</key>
		<dict>
			<key>main-dev</key>
			<string>/3</string>
			<key>main-loc</key>
			<string></string>
			<key>main-int</key>
			<string>/3</string>
			<key>main-qa</key>
			<string>/3</string>
			<key>main-prod</key>
			<string>/3</string>
		</dict>
		<key>branch</key>
		<dict>
			<key>main-dev</key>
			<string>/movie</string>
			<key>main-loc</key>
			<string></string>
			<key>main-int</key>
			<string>/movie</string>
			<key>main-qa</key>
			<string>/movie</string>
			<key>main-prod</key>
			<string>/movie</string>
		</dict>
		<key>API_MOVIE_SUMMARY</key>
		<string>/popular?api_key=80b8ffced8460c2a858657eca9041d7f&amp;language=en-US&amp;page=</string>
		<key>API_MOVIE_DETAIL</key>
		<string>/{movie_id}?api_key=80b8ffced8460c2a858657eca9041d7f&amp;language=en-US</string>
	</dict>
</dict>
</plist>
